body {
	font-family: Arial;
}
.dom-feedback-button {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px 16px;
	border-color: #AAA;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-top-left-radius: 3px;
	background-color: #E5E5E5;
	background-image: -webkit-linear-gradient(top, #EEE, #DDD);
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px, #FFF 0 1px 0 inset;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.dom-feedback-button:hover {
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient(top, #F5F5F5, #E5E5E5);
	color: #222;
}
